:root {
    --white-color: #fff;
}

body {
    font-family: Inter, sans-serif;
    margin: 0;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

/* header */
.header {
    background-image: linear-gradient(to right,
            rgba(43, 74, 97, 0.87),
            rgba(43, 74, 97, 0.87)),
        url(../pictures/background.jpg);
    border-bottom: 3px solid #FFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 186px;
    height: 72px;
    margin-right: 184px;
    padding: 39px 0;
}

.header-list {
    display: flex;
    gap: 38px;
}

.header-link {
    color: var(--white-color);
}

.header-link:hover,
.header-link:focus {
    color: #94CFFF;
}

.header-login {
    margin-left: 228px;
    color: #26C6EA;
    font-family: HeadlandOne;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    width: 141px;
    height: 41.694px;
    border-radius: 35px 0px;
    border: 2px solid #26C7EA;
    background-color: #0B0E66;
}

/* main */
/* hero */
.hero {
    background-image: url(../pictures/hero-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0B0E66;
}

.hero-textbox {
    display: flex;
    flex-direction: column;
    /* тимчасовий проміжок */
    gap: 40px;
    padding: 180px 0;
}

.hero-text {
    flex-wrap: wrap;
    width: 298px;
    color: var(--white-color);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.hero-button {
    width: 260px;
    height: 80px;
    margin-top: 42px;
    color: #26C7EA;
    font-family: HeadlandOne;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    background: #0B0E66;
}

/* footer */